body {
    text-align: center;
}

.signup{
    width: 357px;
    margin: 8% auto;
}

h2 {
    padding-bottom: 18px;
}

.form-group {
    text-align: left;
    padding-bottom: 10px;
}

.img {
    height: 80px;
    width: 80px;
    padding-bottom: 5px;
}

